:root {
  --graphite: #32343d;
  --light: #cfcfe6;
  --light-brown: #a39691;
  --yellow-banner: rgba(160, 161, 122);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: auto;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Navbar style */
#navBar {
  background-color: var(--graphite);
  display: flex;
  flex-direction: row;
  max-width: 100%;
  /* top right bottom left */
  padding: 1% 1% 1% 0%;
}

/* Navbar Header */
#navBar h1 {
  color: var(--graphite);
  padding-right: 1%;
  font-weight: 800;
  display: flex;
  justify-content: flex-start;
  padding: 0 5%;
}

/* Navigation */
#navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
}

#navigation li {
  display: inline-block;
  margin-right: 50px;
}

#navigation a {
  position: relative;
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--light-brown);
  text-decoration: underline;
  text-decoration-thickness: 0.2em;
}

.highlighted-header {
  background-color: var(--light-brown);
}

/* Hero Banner */
.hero-banner {
  background-image: url("../../images/02-hero-bg.jpg");
  max-width: 100%;
  margin-bottom: 2%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

.hero-banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(181, 145, 102, 0.5);
}

.hero-banner h2 {
  position: absolute;
  padding: 10px 1%;
  bottom: 0;
  right: 0;
  margin: 20px 50px;
}

/* Main */

.page-section {
  margin-bottom: 50px;
}

.page-wrapper {
  margin-left: 80px;
  margin-right: 50px;
}

/* About Me */
#about {
  display: flex;
}

#about-header {
  padding-right: 2%;
  text-align: right;
  width: 20%;
}

#about-paragraph {
  border-left: #32343d solid;
  padding-left: 2%;
  width: 80%;
}

/* Work */
#work {
  display: flex;
}

#work-header {
  padding-right: 2%;
  text-align: right;
  width: 20%;
}

#work-content {
  border-left: #32343d solid;
  padding-left: 2%;
  width: 80%;
  gap: 10px;
  row-gap: 10px;
  column-gap: 20px;
}

#portfolio-1 {
  background-image: url("../../images/02-portfolio-1.jpg");
}

#portfolio-2 {
  background-image: url("../../images/02-portfolio-2.jpg");
}

#portfolio-3 {
  background-image: url("../../images/02-portfolio-3.jpg");
}

#portfolio-4 {
  background-image: url("../../images/02-portfolio-4.jpg");
}

#portfolio-5 {
  background-image: url("../../images/02-run-buddy.jpg");
}

.portfolioGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  align-content: end;
}

.heading {
  padding: 15px;
  color: var(--graphite);
  font-size: 18px;
  align-content: center;
}

/* Contact */
#contact {
  display: flex;
}

#contact-header {
  padding-right: 2%;
  text-align: right;
  width: 20%;
}

#contact-list {
  padding-left: 2%;
  border-left: #32343d solid;
  width: 80%;
}

#contact-list li {
  display: inline-block;
  margin-right: 50px;
}

#contact-list a {
  position: relative;
  font-weight: 200;
  font-size: 1.2rem;
  color: var(--graphite);
  text-decoration: underline;
  text-decoration-thickness: 0.2em;
}

/* Page wrapper headings */
h2 {
  font-size: 2rem;
  font-weight: 800;
}

@media screen and (max-width: 500px) {
  #navBar {
    width: auto;
  }

  .page-wrapper {
    width: auto;
  }
}